/**
Color palette: https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500
*/

/* ----------------------------------------------------------------
 * Base styles applies to all screen sizes
 * ---------------------------------------------------------------*/
body {
  font-size: 13px;
}

h1, h2, h3, h4 {
    color: #219EBC;
}

/* ----------------------------------------------------------------
 * Hero image
 * ---------------------------------------------------------------*/
.rd-hero {
    background: #023047;
}

.rd-hero-content {
    text-align: center;
    padding: 5em 2em;
}

.rd-hero-content h1 {
    color: #FB8500;
}

.rd-hero-content p {
    color: #FFB703;
}

/* ----------------------------------------------------------------
 * Main navigation links
 * ---------------------------------------------------------------*/
.rd-main-links .rd-main-link {
    text-align: center;
}

.rd-main-links a {
    color: #FFB703;
}

.rd-main-links a:visited {
    color: #FB8500;
}


.rd-main-links .rd-link-icon {
    display: block;
}

.rd-main-links .rd-link-text {
    display: block;
}

/* ----------------------------------------------------------------
 * Content sections
 * ---------------------------------------------------------------*/
.rd-section {
    padding: 0.25em 0.5em;
}

.rd-section h1, .rd-section h2, .rd-section h3, .rd-section h4 {
    color: #FB8500;
}

.rd-section.rd-light-blue {
    background: #8ECAE6;
    color: #000000;
}

.rd-section.rd-light-blue h1, .rd-section.rd-light-blue h2, .rd-section.rd-light-blue h3, .rd-section.rd-light-blue h4 {
    color: #023047;
}

#rd-group-photo {
    max-width: 50em;
    width: 100%;
}

/* ----------------------------------------------------------------
 * RESPONSIVE - Tablet and Up
 * ---------------------------------------------------------------*/
@media (min-width: 568px) {
    body {
        font-size: 16px;
    }
}

/* ----------------------------------------------------------------
 * RESPONSIVE - Desktop and Up
 * ---------------------------------------------------------------*/
@media (min-width: 768px) {
    body {
        font-size: 20px;
    }
    
    #main-content {
        margin: auto 2em;
    }
}

/* ----------------------------------------------------------------
 * Monitor and Up
 * ---------------------------------------------------------------*/
@media (min-width: 1280px) {
    body {
        font-size: 24px;
    }

    #main-content {
        margin: auto;
        max-width: 1280px;
    }
}

